---
layout: default
---
<div style="max-width: 800px; margin: 60px auto; text-align: center;">
  <h1>
    Hi there,<br>
    I'm Bailey Fluegel!
  </h1>
  <p>
    I am currently a Ph.D. candidate in the MIT-WHOI Joint Program studying marine geophysics.
    Come check out some of the exciting projects I have been involved in so far!

    <img src="/assets/bailey_home_pic.jpg" alt="Photo of Bailey Fluegel" style="width: 400px; border-radius: 999px; margin: 30px auto; display: block;"
  </p>
</div>


